<h1>Edit Person</h1>
<%= form_for @person do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :hair_color %>
  <%= f.select :hair_color, ["red", "brown", "blonde", "black", "grey", "white"] %>

  <%= f.label :eye_color %>
  <%= f.select :eye_color, ["brown", "blue", "green", "hazel", "red"] %>

  <%= f.label :gender %>
  <%= f.select :gender, ["male", "female"] %>

  <%= f.label :alive? %>
  <%= f.check_box :alive %>
  <%= f.submit %>
<%end%>